.landing {
    background-color: #060b16;
    z-index: 1;
    opacity: 1;
    height: 104vh;
    width: 100vw;
    .columns {
        .center {
            text-align: center;
            height: 100%;
            padding-top: 15%;
            .responsive {
                height: 65%;
                width: 50%;
            }
        }
        .landing-text {
            letter-spacing: 0.3rem;
            font-family: 'Raleway', sans-serif;
            padding-top: 10%;
            color: white;
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 1.4;
            .hello {
                font-size: 1.5rem;
                font-family: "Raleway", sans-serif;
                color: #cc005f;
                font-weight: 900;
            }
            .role {
                font-family: "Lato", sans-serif;
                font-size: 1.5rem;
            }
            .learn-more {
                font-size: 1rem;
                border-radius: 4px;
                margin: 0 16vh;
                cursor: pointer;
                background-color: #cc005fd3;
                .fa-arrow-right {
                    transition: 0.4s;
                    transform: rotate(0deg);
                }
                a {
                    color: inherit;
                }
            }
            .learn-more:hover {
                background-color: #cc005f;
                .fa-arrow-right {
                    transition: 0.4s;
                    transform: rotate(90deg);
                }
            }
        }
    }
}